<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <div class="wrapper">
      <header style="overflow-y:auto;">
        
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>Welcome to D3M_colab - a community of manufacturers, data scientists, engineers and researchers developing tools to enhance the capability of Scotland's manufacturing sector through data-driven approaches.</p>
       
        <br/>
      
        <h3>Navigation</h3>
        <a href="https://nmis-group.github.io/colab/">Overview</a>
        <br/>
        <a href="https://nmis-group.github.io/colab/infrastructure.html">Infrastructure</a>
        <br/>
        <a href="https://nmis-group.github.io/colab/sandboxes.html">Sandboxes</a>
        <br/>
        <a href="https://nmis-group.github.io/colab/ddm-team.html">Supporting Team</a>       
        <br/>
        <img src="https://nmis-group.github.io/colab/assets/img/nmis-logo.png, style="width:200px;height:200px; ,alt="Logo1""/>       
        <br/>
        <br/>
   </header>
      <section>

      {{ content }}

      </section>
      <footer>
      </footer>
    </div>
     <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
